body{
	
	padding:100px;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}

.banktitle{
	text-align:center;
	background:#BFECFE;
	padding:10px;
	border:2px solid gray;
	border-radius:15px;
	
	
	
}
.loginbox{
	margin-top:50px;
	border-radius:10px;
	box-shadow:5px 5px 10px gray;
	padding:40px;
	
}
.loginbox input{
	border:2px solid gray;
	border-radius:15px;
}

#transection-area{
	display:none;
}

.diposit{
	background:#5F4FC8;
}

.withdraw{
	background:#F19671;
}

.balance{
	background:#F09B02;
}

.status{
	margin:0px 20px;
	color:white;
	padding:20px;
	border-radius:10px;
	
}
